<div class="document container-fluid" ng-controller="CompareCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#the-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a href="/index.html" class="navbar-brand brand">HomePage</a>
            </div>
            <div class="collapse navbar-collapse" id="the-menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index.html"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>&nbsp;Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;My Cart</a></li>
                    <li><a href="/#/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign In</a></li>
                </ul>
                <form class="navbar-form navbar-right visible-md-inline visible-lg-inline">
                    <div class="form-group" style="margin-top: 4px">
                        <label for="search" class="sr-only">Search</label>
                        <input type="text" class="form-control" placeholder="Search here..." ng-model="searchStr">
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="getCpuLists()">Cpu</button>
                <button type="button" class="btn btn-primary" ng-click="getGoodLists()">Case</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1><a href="http://www.pcking.tw/evaluate.php">京樺科技</a></h1>
            <hr>
            <table>
                <tr class="title">
                    <th>Name</th>
                    <th ng-click="pckingPrice;de=!de">Price</th>
                </tr>
                <tr ng-repeat="list in lists | orderBy: pckingPrice:de | filter:searchStr">
                    <td class="color-name">{{list.pcking.Name}}</td>
                    <td class="color-price">{{list.pcking.Price}}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1><a href="http://coolpc.com.tw/evaluate.php">原價屋</a></h1>
            <hr>
            <table>
                <tr class="title">
                    <th>Name</th>
                    <th ng-click="coolpcPrice;desc=!desc">Price</th>
                </tr>
                <tr ng-repeat="list in lists | orderBy: coolpcPrice:desc | filter:searchStr">
                    <td class="color-name">{{list.coolpc.Name}}</td>
                    <td class="color-price">{{list.coolpc.Price}}</td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
</div>
