.logo {
    padding: 10px;
    margin-right: 10x;
    font-size: 35px;
    font-family: fantasy;
}

.color-price {
    color: #77DDFF;
}
.color-name {
    color: #DDAA00;
}
.document {
    background: #444444;
}
.form-control{
    style:"text-align:center";
}
